
body {
    background-color: #F5F8FA;
}
.typeDrop button{
    background-color: #E1E4E9 !important;
    color: #29313A !important;
    border: 0px ;
}
.typeDrop{
    text-align: left;
}
.typeDrop button:hover{
   opacity: 0.8;
   color: #29313A;
   border: 1px solid #084782;
}
.typeDrop button:focus{
    opacity: 0.8;
    color: #29313A;
    border: 1px solid #084782;
 }
.viewBtn a{
    color: #025992;
    text-decoration: none;
    display: flex ;
        align-items: end;
}
.viewBtn {
   font-size: 12px;
}
.search{
    position: relative;
    padding: 0px 19px;
}
.search-icon {
    position: absolute;
    top: 5px;
    right: 30px;
    color: #677A90;
}
.font-size{
    font-size: 15px;
    display: grid;
    text-align: left;
}
a{
    text-decoration: none;
    color: black;
}
.boxShadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 9px 20px;
    background-color: #fff;
}
.searchBox{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 15px 0px;
    margin-bottom: 20px;
    background-color: #fff;
}
.overView h2{
    background-color: #fff;
    color: #29313A;
    font-weight: 500;
}
.columnDrop button{
    background-color: #E1E4E9 !important;
    color: #29313A !important;
    border: 0px ;
    padding: 8px 20px;
}
.columnDrop button:hover{
    opacity: 0.8;
    color: #29313A;
    border: 1px solid #084782;
 }
 .columnDrop button:focus{
     opacity: 0.8;
     color: #29313A;
     border: 1px solid #084782;
  }
  .artistColor{
    color: #677A90;
    font-size: 12px;
    font-weight: 400;
  }
  .searchBorder{
    border: 1px solid #C2CAD3 ;
  }
  
.overviewBreadCrumb{
    color: #677A90;
    font-weight: 500;
}
.borderRadius{
    border-radius: 9px;
}

  @media only screen and (max-width: 480px) {
    .boxShadow h2{
        font-size: 18px;
    }
    .boxShadow ol li{
        font-size: 12px;
    }

}